/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.uk-slideshow {
    background: lightblue;
    padding: 10px;
    border: 1px solid black;
}