/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.uk-accordion-container {
  border: 1px solid rgba(0, 0, 0, .8);
  color: $black;
  background: pink;
  margin: 0 auto;
  width: 100%;
  padding: 10px !important;
}