/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .uk-modal {
    background: rgba(209, 5, 182, .8);
    border: 1px solid grey;
    padding: 20px;
}