/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.uk-lightbox {
    background: lightgreen;
    border: 1px solid grey;
    padding: 20px;

    .wp-block-paragraph:first-of-type {
        border: 1px solid red;
        &::after {
            content: 'delete this element before updating';
            color: red;
            width: 100%;
            padding-left: 40px;
            font-weight: bolder;
            text-align: right;
            font-family: sans-serif;
        }
    }
}