/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.uk-grid  {
  //border: 3px solid pink;
  background: rgba(0, 0, 0, .3);
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}
