/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.uk-accordion-item {
  border: .5px solid rgba(0, 0, 0, .8);
  background: white;
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
  list-style: none;
}
